.user {
  background-color: #251c1c;
  border-radius: 12px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-evenly;
}



@media (min-width: 1024px) {
  .user {
    flex-direction: row;
  }

  .userCol {
    text-align: left;
    display: flex;
    flex-direction: column;

    div {
      margin: 5px auto;
      width: 80%;

      .colName {
        text-align: left;
        font-weight: bold;
        float: left;
      }

      .colVal {
        text-align: right;
        font-weight: normal;
        float: right;
      }
    }

    &:nth-child(1) {
      width: 40%;
    }

    &:nth-child(2) {
      width: 50%;
    }
  }
}

@media (max-width: 1023px) {
  .user {
    flex-direction: column;
  }

  .userCol {
    text-align: left;
    display: flex;
    flex-direction: column;
    max-width: 90%;

    div {
      margin: 5px auto;
      width: 80%;

      .colName {
        text-align: left;
        font-weight: bold;
        float: left;
      }

      .colVal {
        text-align: right;
        font-weight: normal;
        float: right;
      }
    }

    img, source {
      width: 100%;
    }
  }
}

