.cards {
  background-color: #251c1c;
  border-radius: 12px;
  padding: 20px 10px;
}

.controls {
  padding: 10px;

  width: 40%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  div {
    margin: 5px 0;
    width: 80%;

    label {
      text-align: left;
      font-weight: bold;
      float: left;
    }

    .input {
      text-align: right;
      font-weight: normal;
      float: right;
    }
  }
}

table {
  margin: 0 auto;
  border-spacing:0;
  border-collapse: collapse;
}

tr td {
  font-size: 0.7em;
  text-align: left;
  border-style: hidden;
}

tr:nth-child(even) {
  background-color: #2f2424;
}