.link {
  flex: 1;
  background-color: #251c1c;

  margin: 0 20px;

  border-radius: 12px;

  padding: 10px 20px;
  display: block;
  text-decoration: none;
}

.active {
  background-color: #302626;
}