.balance {
  margin-top: 20px;
  background-color: #251c1c;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;

  font-size: 0.75em;
}

.hidden {
  display: none;
}

.balanceCol {
  flex: 1;
  padding: 10px;

  width: 40%;

  display: flex;
  flex-direction: column;

  div {
    margin: 5px auto;
    width: 80%;

    .colName {
      text-align: left;
      font-weight: bold;
      float: left;
    }

    .colVal {
      text-align: right;
      font-weight: normal;
      float: right;
    }
  }
}